<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <style>
      dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
      }
    </style>
  </head>
  <body>
    <button data-open-modal>Open</button>
    <dialog data-modal>
      <form autocapitalize="on" autocomplete="on">
          <label for="name">Name</label>
          <input type="text"/>
          <button type="submit" formmethod="dialog">Cancel</button>
          <button type="submit">Submit</button>
      </form>
    </dialog>
    <script>
      const openButton = document.querySelector('[data-open-modal]')
      const modal = document.querySelector('[data-modal]')
      openButton.addEventListener('click', () => {
        modal.showModal()
      })
      modal.addEventListener('keydown', (e) => {
        if (e.key === 'Escape')
        modal.close()
      })
      modal.addEventListener('click', (e) => {
        const dialogDimensions = modal.getBoundingClientRect()
        if (
          e.clientX < dialogDimensions.left ||
          e.clientX > dialogDimensions.right ||
          e.clientY < dialogDimensions.top ||
          e.clientY > dialogDimensions.bottom
        ) {
          modal.close()
        }
      })
    </script>
  </body>
</html>