<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Fail -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <ul class="nav">
    <li class="nav-item">
      <a href="#profile" class="nav-link">Profile</a>
      <div id="profile" class="nav-submenu">
        <a href="#" class="nav-submenu-link">Posts</a>
        <a href="#" class="nav-submenu-link">Images</a>
      </div>
    </li>
        <li class="nav-item">
      <a href="#profile" class="nav-link">Profile</a>
      <div id="profile" class="nav-submenu">
        <a href="#" class="nav-submenu-link">Posts</a>
        <a href="#" class="nav-submenu-link">Images</a>
      </div>
    </li>
        <li class="nav-item">
      <a href="#profile" class="nav-link">Profile</a>
      <div id="profile" class="nav-submenu">
        <a href="#" class="nav-submenu-link">Posts</a>
        <a href="#" class="nav-submenu-link">Images</a>
      </div>
    </li>
    <li class="nav-item">
      <a href="#exit" class="nav-link">
      </a>
    </li>
  </ul>
</body>
</html>