<!-- Card1 component -->
<!-- import Card as Card1 from 'flowbite-react' -->
<!-- import Button from 'flowbite-react' -->
<script src="https://kit.fontawesome.com/a93e9f2175.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/Practice/Cards/3-16-23/style.css">
<div id="primary"class="flex flex-col justify-center gap-4">  
  <!-- Somewhere along the lines there needs to be a specific width and/or height -->
  <div class="flex flex-row flex-wrap justify-center gap-3">
    <div id="card" class="flex flex-row bg-white border border-gray-200 rounded-lg shadow-md dark:border-gray-700 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-700">
      <div id="card-body" class="flex justify-center h-full p-6 space-between">
        <h5 class="font-bold tracking-tight text-gray-900 text-2x1 dark:text-white">
          Lorem, ipsum.
        </h5>
        <button type="button" class="text-white bg-blue-700 border border-transparent hover:bg-blue-800  -blue-300 disabled:hover:bg-blue-700 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focusLring-blue-800 dark:disabled:hover:bg-blue-600 focus:!ring-2 group flex h-min items-center font-medium focus:z-10 rounded-lg">
          <p class="font-normal text-gray-700 dark:text-gray-400">
            <span class="flex items-center px-4 py-2 text-sm rounded-md">
              Lorem
            </span>
          </p>
        </button>
      </div>
    </div>
    <div class="">
      <button type="button" class="text-white bg-blue-700 border border-transparent hover:bg-blue-800 focus:ring-4 focus:ring -blue-300 disabled:hover:bg-blue-700 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focusLring-blue-800 dark:disabled:hover:bg-blue-600 focus:!ring-2 group flex h-min items-center font-medium focus:z-10 rounded-full">
        <span class="flex items-center px-4 py-2 text-sm rounded-md">
          <i class="fa-solid fa-x"></i>
        </span>
      </button>
    </div>
  </div>
</div>
<!-- 🙏😭 -->