

button {
  font: inherit;
  padding: 0.75em 3em;
  background: hsl(185, 53%, 15%);
  border: 0.1em solid hsl(185, 53%, 34%);
  border-radius: 100vw;
  cursor: pointer;
  transition: background-color 250ms;

  position: relative;
  isolation:isolate;
  overflow: hidden;
}

button:hover, button:focus-visible {
  background: hsl(185, 53%, 34%);
}

button > span {
  position: absolute;
  z-index: -12;
  width: 1/3;
  height: 100%;
  background: transparent;
  opacity: 0.5;
}

button > :first-child {
  left: 0;
  top: 0;
}

button > :last-child {
  left: 0;
  top: 0;
}

button::before {
  content: '';
  position: absolute;
  z-index: -1;
  background: hsl(200, 60%, 20%);
  width: 1/10;
  aspect-ratio: 1;
  border-radius: 50%;
  inset:0;
  margin:auto;
  opacity:0;

  transition: transform 500ms;
}

button.active::before{
  transform: scale(20);
  opacity: 1;
}

button:has(:first-child:active)::before{
  margin-left: 0;
}

button:has(:last-child:active)::before{
  margin-right: 0;
}